@import 'tailwindcss';

/* Animation for everything */
@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: transparent;
    background-color: black;
  }
  100% {
    opacity: 1;
    background-color: black;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

/* Apply fade-in animation to all elements */
img,
body,
h1,
h2,
h3,
p,
li,
table,
td,
th,
footer,
title,
header {
  animation: fadeIn 2s ease-in-out;
}

/* Hover animation for individual elements */
img:hover,
h1:hover,
h2:hover,
h3:hover,
p:hover,
li:hover {
  transform: scale(1.1); /* Slightly enlarge elements on hover */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

td:hover,
th:hover {
  background-color: rgb(0, 0, 0); /* Change background to black on hover */
  color: rgb(165, 1, 1); /* Change text color to red on hover */
  transform: scale(1); /* Slightly enlarge cells on hover */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

input[type='email']:hover,
button[type='submit']:hover {
  color: rgb(0, 0, 0); /* Change text color to black on hover */
  transform: scale(1.05); /* Slightly enlarge elements on hover */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
}
